p {
    color: blue;
    font-size: 38px;
    font-family: Arial, sans-serif;
    background-color: aqua;
}
.p1 {
    color: red;
    font-size: 38px;
    font-family: Arial, sans-serif;
    background-color: aqua;
}
.p2 {
    color: green;
    font-size: 38px;
    font-family: Arial, sans-serif;
    background-color: aqua;
}